#schedule_menu h2{
  padding-bottom: 1%;
  color: #004798;
  margin: 1em;
  border-bottom: 2px solid #004798;
}

/* .box_grp {
  margin: auto;
  margin: 3%;
}

.box_one {
  background-color: #004798;
  width:40%;
  color: #ffffff; 
}

.text {
  border: none;
  margin-block: 2%;
  background-color: #004798;
  font-size: medium;
  outline: none;
  margin-inline: auto;
}

.box_two {
  background-image: linear-gradient(121deg, #ffffff3a 13%, #64686b86 100%);
  width: 60%;
  padding: 1%; 
  border-radius: 8px; 
}

.text_two {
  outline: none;
  border: none;
  background: transparent;
  font-size: medium;
}

.btn_grp {
  display: flex;
  justify-content: flex-end;
  width: 95%;
} */

.btn_accept {
  margin: 2%;
  border-radius: 5px;
  background-color: #43DB0E;
  color: white;
  border: none;;
  padding-inline: 10px;
  padding-block: 5px;
}

.btn_remove {
  margin: 2%;
  border-radius: 5px;
  background-color: #B40909;
  color: white;
  border: none;
  padding-inline: 10px;
  padding-block: 5px;
}

footer {
  position: fixed;
  bottom: 0%;
  top: max-content;
  height: fit-content;
  background-color: #004798;
  width: 100%;
  margin: 0px;
  padding: 8px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
footer a{
  color: #fff;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.slot{
  margin: 0;
}
.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-image:linear-gradient(to right, #f1f4f7, #d6d9db) ;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.137);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 20%;
}
.responsive-table .col-3 {
  flex-basis: 10%;
}
.responsive-table .col-4 {
  flex-basis: 10%;
}
.responsive-table .col-5 {
  flex-basis: 10%;
}
.responsive-table .col-6 {
  flex-basis: 10%;}
.responsive-table .col-7 {
   flex-basis: 10%;
}
.responsive-table .col-8 {
  flex-basis: 10%;}
.responsive-table .col-9 {
   flex-basis: 10%;}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
    background-color: #e5ebf1;
    
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  .responsive-table .col:before {
    color: rgb(23, 23, 23);
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }

}
