body {
    background-image: linear-gradient(to bottom right,  #bfd6ef, #b0cbea, #759cef, #377ed0);
    margin: 0px;
  }

  nav {
    overflow: hidden;
    background-color: #004798;
    padding: 0.5%;
  }
  nav img {
    height: 40px;
    width: 40px;
    padding: 0px 8px; 
  }
  .navbar .logo {
    float: left;
    font: 30px bolder;
    color: #f6f1f1;
  }
  .menu a{
    float: right;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  .card {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 300px;
    width: 600px;
    padding: 1.5%;
    border-radius: 15px;
    background: linear-gradient(
                  to right bottom,
                  rgba(255, 255, 255, 0.4),
                  rgba(255, 255, 255, 0.1)
  );
    box-shadow: 4px 4px 5px #333;
    z-index: 1;
  }

  .card button {
    float: right;
    padding: 8px 14px;
    color: #ffffff;
    border-radius: 8px;
    border-color: #ffffff;
    margin: 5px;
  }
  table {
    margin: 30px;
  }
  td {
    padding: 4px;
    font-weight: bold;
    margin: 20px;
  }
  .card img {
    width: 120px;
    border-radius: 50%;
  }
  footer {
    position: absolute;
    bottom: 0%;
    height: fit-content;
    background-color: #004798;
    width: 100%;
    margin: 0px;
    padding: 8px 0px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
  }