.patient {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 3%;
    
}
.container {
        margin: 2%;
        display: flex;
        height: 250px;
        min-width: fit-content;
        border-radius: 100px 10px 100px 100px;
        background-image: linear-gradient(121deg, #ffffff3a 13%, #64686b86 100%);
}
.patient img {
    height: 250px;
  width: 250px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.patient table {
    height: max-content;
    width: fit-content;
    padding: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
    overflow: auto;
}
td {
    padding: 10px;
    font-weight: bold;
}
h2,th{
    color: #004798;
    text-align: center;
    margin-top: 2%;
}

footer {
    position: fixed;
    top: max-content;
    bottom: 0;
    height: fit-content;
    background-color: #004798;
    width: 100%;
    margin: 0px;
    padding: 8px 0px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }
  footer a{
    color: #fff;
  }

  .heading{
    padding-bottom: 1%;
  color: #004798;
  margin: 1em;
  border-bottom: 2px solid #004798;
  text-align: left;
  }


  

  @media only screen and (max-width: 768px){
    .container{
        width: 90%;
        border-radius: 8px;
        display: block;
       
    }
    .container img{
        display: none;
    }
    .patient table{
      width: 100%;
      margin-bottom: 20px;
    }
    #personal, #appointment{
      width: 100%;
    }
    #appointment {
      background-image: linear-gradient(121deg, #64686b59 13%, #ffffff27 100%);
      border-radius: 8px;
    }
   
  }